@using DM.Services.Mail.Rendering.ViewModels

<h3>Восстановление пароля на DM.AM</h3>

Ваш логин: @Model.Login<br />
Ваша ссылка на восстановление пароля: <a href="@Model.ConfirmationLinkUrl">НАЖАТЬ СЮДЫ</a>

@code {
    [Parameter]
    public PasswordResetConfirmationViewModel Model { get; set; }
}
