theme(attr, colorSet)
  {attr}: colorSet.light
  #app .theme-dark ^[0..-1]
    {attr}: colorSet.dark

themeExtend(attr, value, set)
  theme(attr, colorSet(value set.light, value set.dark))

colorSet(light, dark)
  return {light: light, dark: dark}

colorPair(light, dark)
  return {light: light, dark: dark}

/* COLOR THEMES                      Light    Dark  */
// Texts
$text =                     colorSet(#333,    #eaeaea)
$textReversed =             colorSet(#eaeaea, #333)
$textHeading =              colorSet(#6e3808, #dfc2a6)

// Links
$activeText =               colorSet(#3f78a8, #c1e790)
$activeHoverText =          colorSet(#a33,    #ffc73f)

// Backgrounds
$background =               colorSet(#fff,    #222)
$panelBackground =          colorSet(#eeeeee, #333)
$panelHighlightBackground = colorSet(#e9f0f9, #4a4a4a)
$panelHoverBackground =     colorSet(#fafafa, #2c2c2c)

/// Buttons
$buttonText =               colorSet(#fff,    #fff)
$buttonBackground =         colorSet(#36a,    #c76a28)
$buttonHoverText =          colorSet(#000,    #222)
$buttonHoverBackground =    colorSet(#a8cbff, #ffd63f)
$buttonDisabledText =       colorSet(#8a8a8a, #ccc)
$buttonDisabledBackground = colorSet(#ddd,    #666)

/// Borders and outlines
$border =                   colorSet(#dfdfdf, #a8a8a8)